.comment {
  border-left: 1px dashed #efefef;
}

.comment-content {
  border-left: 6px solid #EFEFEF;
  border-radius: 0 10px 10px 0;
  background-color: rgba(255, 255, 255);

  text-align: justify;

  padding: 10px;
  margin: 1%;
  margin-left: -1px;
}

.comment-text {
  padding-top: 2%;
}

.sub-comments {
  width: 99%;
  margin-left: 3%;
}

.comment-username {
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(132, 232, 232);
  color: #212121;
  cursor: pointer;
}

.comment-container-like {
  display: inline;

  margin-left: 1%;
}

.comment-container-like > span { 
  border-radius: 10px;
  padding: 3px 5px;
  cursor: pointer;
  margin-left: 1%;

  background-color: #8a8a8a;
  color: #EFEFEF;

  transition: all .5s ease ;
}


.comment-container-like > span.comment-dislike.active {
  background-color: #ff4343;
  color: #EFEFEF;
}

.comment-container-like > span.comment-like.active {
  background-color: #44ffa1;
  color: #EFEFEF;
}